@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}




/* colors */
:root {
  --white-color: #ffffff;
  --yellow-color: rgba(247, 233, 63, 1);
  --pink-color: rgba(251, 9, 180, 1);
  --deepblue-color: rgba(145, 0, 248, 1);
  --green-color: #00FF88;
  --bg-1-color: rgba(26, 11, 46, 1);
  --bg-2-color: rgba(35, 14, 61, 1);

  /* fonts-size */
  --sub-title: 3rem;
  --text: 1.25rem;
}




/* navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  /* border: 1px solid var(--green-color); */
  align-items: center;
}

#nav-bg {
  background-color: var(--bg-1-color);
  padding: 30px 0 24px 0 ;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.253);
}


.menus ul {
  display: flex;
  gap: 34px;
}

.menu-items a:hover {
  color: var(--pink-color);
}


.brand-logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white-color);
  cursor: pointer;
}

.brand-span {
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(45deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}



.menus, .menu-links a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-color);
}


.btn-1 {
  padding: 11px 20px;
  /* border: 1px solid var(--green-color); */
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white-color);
  cursor: pointer;
  border-radius: 1000px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(45deg, 
   rgba(247, 233, 63, 1),
   rgba(251, 9, 180, 1),
   rgba(145, 0, 248, 1));

   animation: gradientMove 4s ease infinite;
   transition: transform 0.3 ease-in-out;
   background-size: 300% 300%;
}


/* Hero Secion styling */
.hero-image {
  background-repeat: no-repeat;
}

.hero-div {
  margin-top: 0px;
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-1:hover,
.btn-3:hover {
  transform: scale(1.08);
}


.humburger-imge {
  display: none;
}





/* Hero styling */
.hero-div {
background-image: url(../assets/hero-bg.png);
/* background-repeat: no-repeat; */
background-position: top center;
padding-bottom: 200px;
}

.hero-center-div {
  width: 550px;
  height: 558px;
  margin: 0 auto;
  padding: 101px 0;
  text-align: center;
  justify-items: center;
}

.hero-div-images {
  position: relative;
  width: 350px;
  height: 350px;
}

.hero-image-1 {
  width: 100%;
  position: absolute;
}

.hero-image-2 {
  width: 117px;
  height: 175px;
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
  top: 80px;
  
}


.btn-2 {
  padding: 6px 20px;
  font-size: 18px;
  font-weight: 600px;
  background-color: var(--green-color);
  border: none;
  border-radius: 1000px;
  position: absolute;
  z-index: 3;
  top: 15px;
  /* right: 5px; */
  transform: translateX(90px);
}


.hero-title {
  font-size: 3.75rem;
  font-weight: 800;
  color: var(--white-color);
  margin-top: 40px;
}

.hero-description {
  color: var(--white-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.btn-3 {
  padding: 11px 20px;
  /* border: 1px solid var(--green-color); */
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white-color);
  cursor: pointer;
  border-radius: 1000px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(45deg, 
   rgba(247, 233, 63, 1),
   rgba(251, 9, 180, 1),
   rgba(145, 0, 248, 1));

   animation: gradientMove 4s ease infinite;
   transition: transform 0.3 ease-in-out;
   background-size: 300% 300%;
}


.btn-4 {
  padding: 10px 20px;
  color: var(--green-color);
  border: 1px solid var(--green-color);
  border-radius: 1000px;
  margin-left: 8px;
  cursor: pointer;
}

.btn-4:hover{
  transform: scale(1.08);
  border: 1px solid var(--green-color);
  transition: 0.3s;
}

.hero-button-div {
  margin-top: 24px;
}



/* About Section */
.about {
  background-color: var(--bg-1-color);
  padding-top: 80px;
  padding-bottom: 120px;
}

.about-info {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 0px 0px 80px 0px;
}

.about-title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white-color);
}

.about-description-1 {
  color: var(--white-color);
}

.about-description-2 {
  color: var(--white-color);
  margin-top: 34px;

}


.experience {
  max-width: 1200px;
  border-top: 1.5px solid rgba(128, 128, 128, 0.253);
  margin: 0 auto;
  padding: 80px 0 0px 0px;
}

.ex-number {
  font-size: 3rem;
  font-weight: 800;
  color: var(--green-color);
}

.short-title {
  color: var(--white-color);
  text-transform: uppercase;
}





/* why choose section */
.choose-section {
  background-color: var(--bg-2-color);
  padding: 100px 0px;
}

.chosse-child-color {
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.choose-div {
  display: grid;
  gap: 30px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}

.choose-sub-title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white-color);
  text-align: center;
}

.choose-sub-title-u {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 10px;
}

.choose-sub-des-u {
  color: var(--white-color);
}


.interview-image {
  max-width: 55px;
  max-height: 60px;
  /* width: 13%; */
  margin-bottom: 18px;
}


/* area define */
.audio {
  grid-area: audio;
}
.mobile {
  grid-area: mobile;
}
.location {
  grid-area: location;
}
.interview {
  grid-area: interview;
}
.resource {
  grid-area: resource;
}

.choose-div {
  display: grid;
  grid-template-areas: 
  "audio mobile mobile"
  "audio location location"
  "interview interview resource";
}


/* ================================================ */
/* Feature Episode section */
.feature {
  background-color: var(--bg-1-color);
  padding: 100px 0px;
}

.card-time {
  color: var(--green-color);
  font-weight: 500;
  margin-top: 12px;
}

.feature-div {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.featute-div-1 {
  max-width: 380px;
  max-height: 440px;
  background-color: var(--bg-2-color);
  border-radius: 24px;
}

.for-padding-div {
  padding: 24px;
}


/* Mobile Responsive */
@media screen and (max-width: 576px) {
.menus, .menu-links a {
  display: none;
}

.btn-1 {
  display : none;
}

.techwave-name {
  margin-left: 20px;
}

.humburger-imge {
  display: block;
  margin-right: 20px;
}

#nav-bg {
  padding: 20px 0px;
}


/* Hero Responsive */


.hero-center-div {
  width: 400px;
  height: 386px; 
  margin: 0 auto;
   padding-bottom: 60px;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 800;
}

.hero-description {
  width: 75%;
}

/* ============================== */
.hero-center-div {
  width: 100%;
  height: auto;
}

.hero-div-images {
  position: relative;
  width: 200px;
  height: 200px;
}

.hero-image-1 {
  width: 100%;
  position: absolute;
}

.hero-image-2 {
  width: 46px;
  height: 70px;
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
  top: 65px;
  
}

.btn-2 {
  top: 15px;
  transform: translateX(65px);
}

.hero-div {
background-repeat: no-repeat;
background-position: center 30%;
padding-bottom: 0px;
background-size: 100% auto;
/* width: 100%; */
background-color: var(--bg-1-color);

}



/* About section Responsive */
.about {
  padding-top: 40px;
  padding-bottom: 60px;
}


.about-title,
.choose-sub-title {
  font-size: 2rem;
}

.experience {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.about-info {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.ex-number {
  font-size: 2.5rem;
}

/* ========================================================= */
/* why choose section Responsive */
.choose-div {
  width: 90%;
  grid-template-areas: 
  "audio"
  "mobile"
  "location"
  "interview"
  "resource";
}

.choose-section {
  padding: 40px 0px;
}

.choose-div {
  padding-top: 20px;
  gap: 20px;
}

/* ============================================================ */
/* Feature section Responsive */
.feature-div {
  padding-top: 40px;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  justify-items: center;
  gap: 20px;
  padding-top: 20px;
}
.feature {
  padding: 40px 0px;
}
}




/* Tablet Responsive */

@media screen and (min-width: 576px) and (max-width: 992px) {
.menus, .menu-links a {
  display: none;
}

.btn-1 {
  display : none;
}

.humburger-imge {
  display: block;
  cursor: pointer;
}
}