@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}




/* colors */
:root {
  --white-color: #ffffff;
  --yellow-color: rgba(247, 233, 63, 1);
  --pink-color: rgba(251, 9, 180, 1);
  --deepblue-color: rgba(145, 0, 248, 1);
  --green-color: #00FF88;
  --bg-1-color: rgba(26, 11, 46, 1);
  --bg-2-color: rgba(35, 14, 61, 1);

  /* fonts-size */
  --sub-title: 3rem;
  --text: 1.25rem;
}




/* navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
  /* border: 1px solid var(--green-color); */
  align-items: center;
}

#nav-bg {
  background-color: var(--bg-1-color);
  padding: 30px 0 24px 0 ;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.253);
}

.horizontal-line {
  color: rgba(128, 128, 128, 0.562);
  margin: 25px 0;
}

.menus ul {
  display: flex;
  gap: 34px;
}

.menu-items a:hover {
  color: var(--pink-color);
}


.brand-logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white-color);
  cursor: pointer;
}

.brand-span {
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(45deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}



.menus, .menu-links a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-color);
}


.btn-1 {
  padding: 11px 20px;
  /* border: 1px solid var(--green-color); */
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white-color);
  cursor: pointer;
  border-radius: 1000px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(45deg, 
   rgba(247, 233, 63, 1),
   rgba(251, 9, 180, 1),
   rgba(145, 0, 248, 1));

   animation: gradientMove 4s ease infinite;
   transition: transform 0.3 ease-in-out;
   background-size: 300% 300%;
}


/* Hero Secion styling */
.hero-image {
  background-repeat: no-repeat;
}

.hero-div {
  margin-top: 0px;
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-1:hover{
  transform: scale(1.08);
}


.humburger-imge {
  display: none;
}





/* Hero styling */
.hero-div {
background-image: url(../assets/hero-bg.png);
/* background-repeat: no-repeat; */
background-position: top center;
padding-bottom: 200px;
}

.hero-center-div {
  width: 550px;
  height: 558px;
  margin: 0 auto;
  padding: 101px 0;
  text-align: center;
  justify-items: center;
}

.hero-div-images {
  position: relative;
  width: 350px;
  height: 350px;
}

.hero-image-1 {
  width: 100%;
  position: absolute;
}

.hero-image-2 {
  width: 117px;
  height: 175px;
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
  top: 80px;
  
}


.btn-2 {
  padding: 6px 20px;
  font-size: 18px;
  font-weight: 600px;
  background-color: var(--green-color);
  border: none;
  border-radius: 1000px;
  position: absolute;
  z-index: 3;
  top: 15px;
  /* right: 5px; */
  transform: translateX(90px);
}


.hero-title {
  font-size: 3.75rem;
  font-weight: 800;
  color: var(--white-color);
  margin-top: 40px;
}

.hero-description {
  color: var(--white-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.btn-3 {
  padding: 11px 20px;
  /* border: 1px solid var(--green-color); */
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white-color);
  cursor: pointer;
  border-radius: 1000px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(45deg, 
   rgba(247, 233, 63, 1),
   rgba(251, 9, 180, 1),
   rgba(145, 0, 248, 1));

   animation: gradientMove 4s ease infinite;
   transition: transform 0.3 ease-in-out;
   background-size: 300% 300%;
}

.btn-3:hover{
  transform: scale(1.08);
}


.btn-4 {
  padding: 10px 20px;
  color: var(--green-color);
  border: 1px solid var(--green-color);
  border-radius: 1000px;
  margin-left: 8px;
  cursor: pointer;
}

.btn-4:hover{
  transform: scale(1.08);
  border: 1px solid var(--green-color);
  transition: 0.3s;
}

.hero-button-div {
  margin-top: 24px;
}






/* Mobile Responsive */
@media screen and (max-width: 576px) {
.menus, .menu-links a {
  display: none;
}

.btn-1 {
  display : none;
}

.techwave-name {
  margin-left: 30px;
}

.humburger-imge {
  display: block;
  margin-right: 30px;
}


/* Hero Responsive */
.hero-div {
/* width: 100%;
height: auto; */
}


.hero-center-div {
  width: 400px;
  height: 386px; 
  margin: 0 auto;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 800;
}

.hero-description {
  width: 75%;
}

/* ============================== */
.hero-center-div {
  width: 100%;
  height: auto;
}

.hero-div-images {
  position: relative;
  width: 200px;
  height: 200px;
}

.hero-image-1 {
  width: 100%;
  position: absolute;
}

.hero-image-2 {
  width: 46px;
  height: 70px;
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
  top: 65px;
  
}

.btn-2 {
  top: 15px;
  transform: translateX(65px);
}

.hero-div {
background-repeat: no-repeat;
background-position: center 30%;
padding-bottom: 0px;
background-size: 100% auto;
/* width: 100%; */
background-color: var(--bg-1-color);

}
}




/* Tablet Responsive */

@media screen and (min-width: 576px) and (max-width: 992px) {
.menus, .menu-links a {
  display: none;
}

.btn-1 {
  display : none;
}

.humburger-imge {
  display: block;
  cursor: pointer;
}
}